#navcolor{
    background-color: gray;
    /* background-image: url("/images/background-pic.jpg"); */
    background-image: url(https://github.com/luanacesar/MyPortfolio/blob/main/images/background-pic.jpg?raw=true);
    height: 600px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.navbar{
    margin-left: 5%;
}
/*NAV*/

 .navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-size: "Montserrat-Ligth";
}


#title-image{
    width:100%;
}

@media(max-width:1028px ){


    #title{
        text-align:center;
    }
    #title-image{
        position:static;

    }
}

/*  my bio*/
.p,.p1 {
    line-height: 1.5;
    font-size: 2.3rem;
}

#mySkills, #myBio {
    margin: 7% 15%;
    font-size: 1.5rem;
}
.row-1{
    margin: 10% 7%;
    font-size: 1.5rem;

}
#myPortfolio{

    padding: 3% 3% 3% 3%;
    font-size: 1.5rem;
    background-color:#dedcdd;

}
#colorB{
    border: 2px solid #5588a3;
    padding:1% 1%;
    background-color: #145374;
    border-radius: 20px;
}

.fa-linkedin {
    margin: 5% 5%;
    color: #5588a3;
   text-align: center;
}
   .fa-linkedin:hover{
       color:#f3f3f2;
   }
.fa-github {
    margin: 5% 5%;
   color: #5588a3;
   text-align: center;
}
   .fa-github:hover {
   color: #f3f3f2;
}

.fa-envelope {
    margin: 5% 5%;
   color: #5588a3;
   text-align: center;
}
   .fa-envelope:hover {
   color: #f3f3f2;
}

.fa-laptop-code{
    color: #5588a3;
}


/*CONTACT ME*/

    /*SELECT*/
body {
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #40514E;
    background-color: #ffffff;
}


.h1p{
    color: #145374;
    font-size: 4.5rem;
    text-align: justify;
    padding-left: 10%;
    font-family: Pacifico;
}

h2 {
    padding: 10% 10% 0%;
    margin-top: 0 auto;
    line-height: 2;
    color: #145374;
    text-align: center;
    font-size: 3.5rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
h3 {
    padding: 10% 20%;
    font-size: 5rem;
    color: #5588a3;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-display: swap;
    text-align: center;
}
#h3p {
    padding: 1%;
    font-size: 2.5rem;
    color: #056162;
    text-align: center;
    font-family: Pacifico;
    font-weight: 400;
    font-display: swap;
    text-align: center;
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

h4 {
    margin-top: 0 auto;
    line-height: 4;
    padding-left: 10%;
    padding-top: 3%;
    color: #5588a3;
    text-align: justify;
    font-family: Montserrat;
    font-weight: bold;
    font-weight: 400;
    font-display: swap;

}
.Botton {
    background-color:#dedcdd;    ;
    padding: 50px 0 20px;
    margin: 0 auto;
    bottom: 0;
    text-align: center;
}
.p,.p1 {
    line-height: 1.5;
    text-align: justify;
    font-size: 1.8rem;
}

.contact-me {
    /*background-color: #84a9ac;*/
    text-align: center;
    /* width: 60%;
    /* margin: 0 auto;
    margin-top: 100px auto 100px auto; */
    line-height: 1.5;
}
.contact-message{
    width:80%;
    margin: 55px auto 60px;
    text-align:center;
    /*font-size:20px;*/

}

.copyright {
    color: #145374;
    font-size: 1.2rem;
    padding: 20px 0;
    text-align: center;
}
#title-image{

    border-radius: 10px;
    padding:3% 3%;
    /* -webkit-animation: eighty 2s ease-out forwards;
       -moz-animation: eighty 2s ease-out forwards;
        -ms-animation: eighty 2s ease-out forwards;
         -o-animation: eighty 2s ease-out forwards;
            animation: eighty 2s ease-out forwards; */
}
#button{
    display: inline-block;
    text-align: center;
    width: 50%;
    text-decoration: none;
    color:black;
}
#button2{
    display: inline-block;
    text-align: center;
    width: 40%;
    text-decoration: none;
    color:white;

}
button, #button{
    display: inline-block;
    text-align: center;
    width: 40%;
    
}
  button:hover {
        background: linear-gradient(to bottom, #408c99 5%, #27b3e6 100%);
        background-color: #408c99;
    }

    figure {

        overflow: hidden;
    }
    figure:hover+span {
        bottom: -36px;
        opacity: 1;
    }
    
    /* Zoom In #1 */
    .hover01 figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .hover01 figure:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
