/*NAV*/
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 5%;
}
.nav-item{
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-size: "Montserrat-Ligth";
}
.column{
    padding:5%;
}
@media(max-width:1028px ){


    #title{
        text-align:center;
    }
    #title-image{
        position:static;

    }
}
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {

    .navbar{
        padding: 0 0 4.5rem;
        margin-bottom: 5%;
    }

    #navcolor{
        background-color: gray;
        /* background-image: url("/images/background-pic.jpg"); */
        background-image: url(https://github.com/luanacesar/MyPortfolio/blob/main/images/background-pic.jpg?raw=true);
        height: 600px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
    .p1{
        color:rgb(17,17,17);
        display: block;
        line-height: 1.5;
        height: 1.5;
        text-align: justify;
        font-size: 1.6rem;
        font-family: sans-serif;
    }
    .h1p{
        color: #145374;
        font-size: 4.5rem;
        text-align: justify;
        padding-left: 10%;
        font-family: Pacifico;
    }
    #h3p {
        padding: 2% 2% 2%;
        font-size: 2.5rem;
        color: #056162;
        text-align: center;
        font-family: Pacifico;
        font-weight: 400;
        font-display: swap;
        text-align: center;
        display: inline-block;
        margin: 0 0.5rem;

    }
    h4 {
        margin-top: 0 auto;
        line-height: 4;
        padding-left: 10%;
        padding-top: 3%;
        color: #5588a3;
        text-align: justify;
        font-family: Montserrat;
        font-weight: bold;
        font-weight: 400;
        font-display: swap;
    
    }
    #button{
  
        color:black;
    }
    #button2{
       
        color:white;
    }
    button, #button,  #button2{
        display: inline-block;
        text-align: center;
        text-decoration: none;
        width: 40%;
    }   
    .fa-linkedin {
           margin: 5% 5%;
        color: #5588a3;
       text-align: center;
       font-size: 4rem;
    }
       .fa-linkedin:hover{
           color:#f3f3f2;
       } 
       .fa-github {
        margin: 5% 5%;
       color: #5588a3;
       text-align: center;
       font-size: 4rem;
    }
       .fa-github:hover {
       color: #f3f3f2;
    }
    
    .fa-envelope {
        margin: 5% 5%;
       color: #5588a3;
       text-align: center;
       font-size: 4rem;
    }
       .fa-envelope:hover {
       color: #f3f3f2;
    }
    .copyright {
        color: #145374;
        font-size: 1.2rem;
        padding: 20px 0;
        text-align: center;
    }
    #css,#html,#boot,#js,#java,#linux,#react,#node,#py,#csharp,#sql,#git{
        display: inline;
        margin: 5% 5%;
        padding-top: 1rem;
        color: #5588a3;
        text-align: center;
        font-size: 4rem;
    }
   #js:hover,#java:hover,#react:hover,#node:hover,#py:hover,#csharp:hover,#sql:hover,#git:hover{ 
        color: #f3f3f2;
     }
     
}
  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 600px) {

    .navbar{
        padding: 0 0 4.5rem;
        margin-bottom: 2%;
    }

    #navcolor{
        background-color: gray;
        /* background-image: url("/images/background-pic.jpg"); */
        background-image: url(https://github.com/luanacesar/MyPortfolio/blob/main/images/background-pic.jpg?raw=true);
        height: 300px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
    .p1 {
      font-size: 15px;
      text-align: justify;
      font-family: Arial, Helvetica, sans-serif;
    }
    .h1p{
        color: #145374;
        font-size: 2.5rem;
        text-align: justify;
        padding-left: 5%;
        font-family: Pacifico;
    }
    #h3p {
        padding-top: 1rem;
        padding: 1%;
        font-size: 1.5rem;
        color: #056162;
        text-align: center;
        font-family: Pacifico;
        font-weight: 400;
        font-display: swap;
        text-align: center;
        display: inline-block;
        margin: 0 0.5rem;
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
    }
    h4 {
        margin-top: 0 auto;
        font-size: 1rem;
        line-height: 4;
        padding-left: 5%;
        padding-top: 3%;
        color: #5588a3;
        text-align: justify;
        font-family: Montserrat;
        font-weight: bold;
        font-weight: 400;
        font-display: swap;
    
    }
    #button{
    color:black;
    }
    #button2{
        color:white;
    }
    button, #button, #button2{
        display: inline-block;
        text-decoration: none;
        text-align: center;
        padding: 3px 3px;

    }    
    .fa-linkedin {
        margin: 5% 5%;
        color: #5588a3;
       text-align: center;
       font-size: 2.5rem;
    }
       .fa-linkedin:hover{
           color:#f3f3f2;
       }
       .fa-github {
        margin: 5% 5%;
       color: #5588a3;
       text-align: center;
       font-size: 2.5rem;
    }
       .fa-github:hover {
       color: #f3f3f2;
    }
    
    .fa-envelope {
        margin: 5% 5%;
       color: #5588a3;
       text-align: center;
       font-size: 2.5rem;
    }
       .fa-envelope:hover {
       color: #f3f3f2;
    }
    .copyright {
        color: #145374;
        font-size: 0.8rem;
        padding: 20px 0;
        text-align: center;
    }
    .fab,.fa{
        margin: 5% 5%;
        color: #5588a3;
        text-align: center;
        font-size: 2rem;
        padding-top: 1rem;
    }
}

#mySkills, #myBio {
    margin: 8% 15%;
    /* font-size: 1.5rem; */
}
.row{
    margin: 5% 7%;
    font-size: 1.5rem;

}
#myPortfolio{
    padding: 3%;
    font-size: 1.5rem;
    background-color:#dedcdd;

}

/*CONTACT ME*/

    /*SELECT*/
body {
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #40514E;
    background-color: #ffffff;
}

h2 {
    padding: 10% 10% 0%;
    margin-top: 0 auto;
    line-height: 2;
    color: #145374;
    text-align: center;
    font-size: 3.5rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
h3 {
    padding: 10% 20%;
    font-size: 5rem;
    color: #5588a3;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-display: swap;
    text-align: center;
}
.Botton {
    background-color:#dedcdd;    ;
    padding: 50px 0 20px;
    margin: 0 auto;
    bottom: 0;
    text-align: center;
}

.contact-me {
    text-align: center;
    line-height: 1.5;
}
.contact-message{
    width:80%;
    margin: 55px auto 60px;
    text-align:center;
    /*font-size:20px;*/

}

#title-image{

    border-radius: 10px;
    padding:3% 3%;
    width:100%;
}
  button:hover {
        background: linear-gradient(to bottom, #408c99 5%, #27b3e6 100%);
        background-color: #408c99;
    }
    figure {
        overflow: hidden;
    }
    figure:hover+span {
        bottom: -36px;
        opacity: 1;
    }
        /* Zoom In #1 */
    .hover01 figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
 

    }
    .hover01 figure:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-transition: .7s ease-in-out;
        transition: .7s ease-in-out;
    }
